<form action="/settings/users/create/" method="POST">
    <input type="text" name="login" placeholder="Login">
    <input type="text" name="user_name" placeholder="Имя">
    <input type="text" name="last_name" placeholder="Фамилия">
    <input type="text" name="otchestvo" placeholder="Отчество">
    <input type="text" name="phone" placeholder="Телефон">
    <input type="text" name="email" placeholder="E-mail">
    <select name="doljnost">
        <option value="1">Администратор</option>
    </select>
    <input type="password" name="pass" placeholder="Пароль">
    <label>Партнер?</label>
    <input type="checkbox" name="partner_id">
</form>